{% extends 'layout.html' %}

{% block title %}
    {{ post.title }} 
{% endblock %}

{% block content %}
    <section>
        <img class="banner" src="{{ post.banner.url }}" alt="{{ post.title }}"/>
        <h1>{{ post.title }}</h1>
        <p>{{ post.date }} por {{ post.author }}</p>
        <div class="category-div">
        {% for category in categories %}
            <div class="category"><a class="category-link" href="{% url 'posts:category' category.name %}">{{ category.name }}</div>
        {% endfor %}
        </div>

        {% if request.user == post.author or request.user.is_superuser%}
            <ul>
                <li><a href="{% url 'posts:update' post.slug %}">Editar</a></li>
                <li><a href="{% url 'posts:delete' post.slug %}">Excluir</a></li>
            </ul>
        {% endif %}
        
        <p>{{ post.body }}</p>
    </section>
    <section>
        <header class="comentarios">
            <h3>Comentários</h3>
            <a href="{% url 'posts:comment' post.slug %}"><button class="comment-button">Comentar</button></a>
        </header>
        <ul>
            {% if comments %}
                {% for comment in comments %}
                    <figure>
                        <figcaption>{{ comment.author }} em {{ comment.date }}</figcaption>
                        <blockquote>
                            - {{ comment.body }}
                        </blockquote>
                        
                    </figure>
                {% endfor %}
            {% else %}
                <p>Este post não possui comentários</p>
            {% endif %}
        </ul>
    </section>
{% endblock %}

